html, 
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: plum;
}

body {
    max-width: 1000px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

p {
    font-size: 15pt;
    line-height: 21pt;
    text-align: justify;
}

section {
    margin-bottom: 4rem;
}

.emphasize {
    font-style: italic;
    font-size: medium;
}